# Ref https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/command-options-general.html#command-options-general-ec2vpc

option_settings:
   aws:ec2:vpc:
      VPCId: vpc-271d6c42
      AssociatePublicIpAddress: 'true'
      ELBScheme: public
      ELBSubnets: subnet-8ff8b9ea
      Subnets: subnet-8ff8b9ea
  
